.graph-db-search {
  outline: none; }
  .graph-db-search .badge-container {
    margin-bottom: 10px;
    margin-top: 10px; }
  .graph-db-search .result-container .vertex-result {
    padding: 10px 10px 0 10px;
    font-size: 14px; }
    .graph-db-search .result-container .vertex-result .vertex-name {
      display: inline; }
    .graph-db-search .result-container .vertex-result .vertex-path {
      padding: 0 10px 0 10px;
      cursor: pointer; }
