.graph-db-search {
  outline: none; }
  .graph-db-search .badge-container {
    margin-bottom: 10px;
    margin-top: 10px; }
  .graph-db-search .result-container .vertex-result {
    padding: 10px 10px 0 10px;
    font-size: 14px; }
    .graph-db-search .result-container .vertex-result .vertex-name {
      display: inline; }
    .graph-db-search .result-container .vertex-result .vertex-path {
      padding: 0 10px 0 10px;
      cursor: pointer; }
  .graph-db-search .display-more-controls {
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #3a87ad;
    border-top: 1px solid #3a87ad;
    margin-top: 30px;
    position: relative; }
    .graph-db-search .display-more-controls .display-more-control {
      cursor: pointer; }
      .graph-db-search .display-more-controls .display-more-control.display-more {
        margin-right: 20px; }
  .graph-db-search .user-select-text {
    -moz-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
    -ms-user-select: text; }
